CodeBlocks/bin/
CodeBlocks/obj/
CodeBlocks/*.as2
*/.*
*~
*.~
*.geany
.cproject
.project
.settings/
*bin*
*obj*
*.depend
*.layout
*build*
tmp/
log*
*.diff
build/
debug/
dist/
nbproject/
funclist
Makefile

